@use 'variables';

.awards {
    background-color: variables.$backgroundColorDark;
    width: 100%;
    margin: 0 auto;
    padding: 80px 10vw;

    &__title.title--medium {
        

        @media (max-width: 1440px) {
            font-size: 2.3rem;
        }
    }

    &__container {
        max-width: 1440px;
        width: 100%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        gap: 48px;
    }

    &__content {
        display: flex;
        justify-content: space-between;
        gap: 32px;
        flex-wrap: wrap; // Permite que os itens se movam para a linha de baixo quando não couberem

        &__item {
            background-color: variables.$backgroundColorLight;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            flex: 1 1 calc(25% - 32px); // Define um tamanho flexível para cada item
            gap: 16px;
            padding: 24px;
            border-radius: 12px;
            text-align: center;
            min-width: 180px; // Evita que os itens fiquem muito pequenos
            border: 2px solid variables.$textColor;

            img {
                width: 48px;
                height: auto;
            }

            h3 {
                text-align: center;
            }
        }
    }

    // Media queries para diferentes tamanhos de tela
    @media (max-width: 1024px) {
        &__title {
            font-size: 1rem; // Diminui o tamanho do título para telas menores
        }

        &__content {
            flex-wrap: wrap;
            justify-content: center; // Centraliza os itens quando não há espaço suficiente
        }
    }

    @media (max-width: 768px) {
        &__content__item {
            flex: 1 1 calc(50% - 32px); // Em telas menores, cada item ocupa metade da linha
        }
    }

    @media (max-width: 480px) {
        &__content__item {
            flex: 1 1 100%; // Em telas muito pequenas, os itens ficam empilhados verticalmente
        }
    }
}